@model IEnumerable<student_score_lite.Models.Score>
@using student_score_lite.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Calificacion
        </th>
        <th>
            Examen
        </th>
        <th>
            Estudiante
        </th>
        <th></th>
    </tr>

@foreach (var item in (List<ScoreListItem>)ViewBag.scoreList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
